/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(unsplash-d2.jpg);
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
    color: white;
}

div {
    display: flex;
}


/* Header */
header {
    width: 100%;
}

header nav {
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h2 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2em;
}

header nav a {
    text-decoration: none;
    color: inherit;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    padding-right: 25px;
}

header nav ul li:last-child {
    padding-right: 0;
}


/* Banner area */
.banner-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.banner-area h1 {
    margin-bottom: 15px;
    font-size: 65px;
    font-family: 'Merienda', cursive;
}

.banner-area h2 {
    margin-bottom: 40px;
    font-size: 25px;
}

.banner-area a {
    padding: 15px 35px;
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


/* About area */
.about-area {
    background-color: white;
    color: black;
}

.about-area #about-container-1 {
    display: block;
    width: 100%;
    padding: 70px 0;
    text-align: center;
}

.about-area #about-container-2 {
    display: flex;
    justify-content: space-evenly;
}

.about-area #about-container-2 div:first-child {
    display: inline-block;
}

.about-area img {
    max-width: 80%;
    height: auto;
}

.about-area #about-container-2 div:last-child {
    display: inline-block;
}

.about-area #about-container-2 div:last-child p {
    padding-bottom: 35px;
}

.about-area a {
    padding: 15px 35px;
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


/* Responsive */
@media(max-width: 700px) {
    body {
        background-image: url(unsplash-m.jpg);
    }

    header nav {
        flex-direction: column;
        padding: 0;
    }
    header nav h2 {
        padding: 5px 0;
    }
    header nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    header nav ul li {
        padding: 0;
    }

    .banner-area {
        min-height: 95vh;
    }
    .banner-area h1 {
        font-size: 40px;
    }
    .banner-area h2 {
        font-size: 20px;
    }
}